body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    width: 80vw;
    /* max-width: 600px; */
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: flex-start;
}
details {
    width: 20vw;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
summary {
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

details:nth-of-type(3){
    /* selecteer niet de laatste p in de details */
    p:not(:last-of-type) {
    color: green;
    }

    /* selecteer alles behalve de p */
    :not(p) {
    text-decoration: underline;
    }

    /* selecteer alle andere links die niet naar deze https connect */
    a:not([href*="https://css-tricks.com/almanac/pseudo-selectors/n/not/"]){
        color: red;
    }

    /* selecteer alle buttons die niet disabled zijn */
    button:not([disabled]){
        font-size: 25px;
    }
}